@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @keyframes scale-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }

  .animate-scale-out {
    animation: scale-out 0.4s ease-in forwards;
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-scale-up {
    animation: scale-up 0.4s ease-out forwards;
  }
}

@theme {
  --color-primary: #c67c4e;
  --color-subprimary: #edd6c8;
  --color-darkpallete: #313131;
  --color-graypallete: #e3e3e3;
  --color-slowprimary: #f9f2ed;
  --color-highgray: #a2a2a2;
  --color-slowgray: #ededed;
  --color-backgroundcolor: #f9f9f9;

  --color-adminBackgroundColor: #f1f5f7;
  --color-adminPrimary: #809fb8;
  --color-adminAction: #217efd;
  --color-adminError: #ea3a3d;

  /* Dark mode colors */
  --color-primaryDark: #8b5636;
  --color-subprimaryDark: #614a3b;
  --color-darkpalleteDark: #1a1a1a;
  --color-graypalleteDark: #404040;
  --color-slowprimaryDark: #3d3834;
  --color-highgrayDark: #595959;
  --color-slowgrayDark: #333333;
  --color-backgroundcolorDark: #1f1f1f;

  --color-adminBackgroundColorDark: #1a2327;
  --color-adminPrimaryDark: #4a6b82;
  --color-adminActionDark: #1659b7;
  --color-adminErrorDark: #a82729;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: ExtraBold;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: Black;
}

* {
  font-family: "IranYekan";
  direction: rtl;
}
